body {
  margin: 0;
  overflow: hidden;
}

#root {
  position: relative;
  width: 100dvw;
  min-height: 100dvh;
}

.react-transform-wrapper {
  width: 100dvw !important;
  height: 100dvh !important;
}
